@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
.mobilemenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000d;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: .3s;
}
.mobilemenu.active{
    transform: translateX(0);
}
.mobilemenu .fa-times{
    position: absolute;
    color: #fff;
    top: 25px;
    right: 30px;
    font-size: 25px;
}
.mobilemenu a{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    position: relative;
    min-width: 200px;
}
header{
    background-color: #000;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
header nav a{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    position: relative;
}
header nav a:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}
header nav a:hover:after,
header nav a.active:after{
    width: 100%;
}
header .fa-bars{
    color: #fff;
    font-size: 20px;
    margin-right: -20px;
    display: none;
}

.home-banner{
    background: #fff url(../img/img3.jpg);
    /* mix-blend-mode: darken; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 75px);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.home-banner .about{
    max-width: 600px;
    text-align: justify;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff8;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
}
.home-banner .about h1{
    margin-top: 0;
}
.home-banner .about a{
    /* border: 2px solid #000; */
    color: #000;
    padding: 10px 15px;
    margin: 5px 0;
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.home-banner .about a:before,
.home-banner .about a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .3s;
    box-sizing: border-box;
}
.home-banner .about a:before{
    top: 0;
    left: 0;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}
.home-banner .about a:after{
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}
.home-banner .about a:hover::before,
.home-banner .about a:hover:after{
    width: 0;
    height: 0;
}

.lessons{
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    background: #eee;
}
.lessons .lesson-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lessons .lesson-container .lesson-box{
    display: flex;
    max-width: 500px;
    min-width: 400px;
    max-height: 300px;
    margin: 15px;
    box-shadow: 5px 5px 40px 0px #aaa;
    border-radius: 10px;
    overflow: hidden;
}
.lessons .lesson-container .lesson-box .img-box{
    flex: 1;
    overflow: hidden;
}
.lessons .lesson-container .lesson-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lessons .lesson-container .lesson-box .info{
    flex: 1;
    position: relative;
    padding: 0 20px;
    padding-bottom: 85px;
}
.lessons .lesson-container .lesson-box .info a{
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    padding: 10px 20px;
    transition: .3s;
}
.lessons .lesson-container .lesson-box .info a:hover{
    color: #000;
    background: none;
}

.projects{
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    /* background-image: url(./img/img1.jpg); */
}
.projects::before{
    content: '';
    background-image: url(../img/img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
.projects .project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects .project-container .project-box{
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 40px 0px #aaa;
    border-radius: 10px;
}
.projects .project-container .project-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects .project-container .project-box .info{
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    background: linear-gradient(to top, #fffc 70%, transparent);
    text-align: center;
    padding: 50px 10px 10px;
    box-sizing: border-box;
    transition: .3s;
}
.projects .project-container .project-box:hover .info{
    transform: translateY(0);
}
.projects .project-container .project-box .info h2{
    margin: 0;
}
.projects .project-container .project-box .info h3{
    margin: 5px;
}
.projects .project-container .project-box .info a{
    text-decoration: none;
    border: 2px solid #000;
    color: #000;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    transition: .3s;
}
.projects .project-container .project-box .info a:hover{
    color: #fff;
    background: #000;
}


footer{
    background: #000;
    padding: 10px;
    color: #fff;
    text-align: center;
}


@media (max-width: 800px) {
    header img{
        width: 200px;
    }
    header nav{
        display: none;
    }
    header .fa-bars{
        display: block;
    }
}

@media (max-width: 500px) {
    .lessons{
        padding: 10px;
    }
    .lessons .lesson-container .lesson-box{
        min-width: auto;
        margin: 10px 0;
        /* height: 290px; */
    }
    .info h3{
        font-size: 16;
    }
    .info h2{
        font-size: 20px;
    }
}