*{
    margin: 0;
    padding: 0;
   
}

body{
    background-image: linear-gradient( #000000, #0a100d);

}

.container{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li a:hover:after{
    width: 100%;

}




main{
    min-height: 200px;
   
}


section{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    min-height: 300px;

    
}



.kuti2{
    margin-left: 10px;
    padding: 10px 5px;
    color: white;
    font-size: 25px;
    
    
}


footer{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    min-height: 250px;
    border-radius: 20px;
    margin-top: 15px;

}

.kuti3{
    font-size: 25px;
    color: white;
    padding: 12px;
}

#two{
    min-height: 400px;
    background-color: darkorange;
}


#foot{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
}

#webi{
    color: #fff;
    display: inline;
    font-size: 0.9rem;
    font-style: italic;

}

#volley{
    margin-bottom: 5px;
}