body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #000;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    position: relative;
}
header nav a:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}
header nav a:hover:after{
    width: 100%;
}