@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
header{
    background-color: #000;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
header nav a{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    position: relative;
}
header nav a:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}
header nav a:hover:after{
    width: 100%;
}

.home-banner{
    background: #fff url(./img/img3.jpg);
    /* mix-blend-mode: darken; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 75px);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.home-banner .about{
    max-width: 600px;
    text-align: justify;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff8;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}
.home-banner .about h1{
    margin-top: 0;
}
.home-banner .about a{
    /* border: 2px solid #000; */
    color: #000;
    padding: 10px 15px;
    margin: 5px 0;
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.home-banner .about a:before,
.home-banner .about a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .3s;
    box-sizing: border-box;
}
.home-banner .about a:before{
    top: 0;
    left: 0;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}
.home-banner .about a:after{
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}
.home-banner .about a:hover::before,
.home-banner .about a:hover:after{
    width: 0;
    height: 0;
}

.lessons{
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    background: #eee;
}
.lessons .lesson-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lessons .lesson-container .lesson-box{
    display: flex;
    max-width: 500px;
    min-width: 400px;
    max-height: 300px;
    margin: 15px;
    box-shadow: 5px 5px 40px 0px #aaa;
    border-radius: 10px;
    overflow: hidden;
}
.lessons .lesson-container .lesson-box .img-box{
    flex: 1;
    overflow: hidden;
}
.lessons .lesson-container .lesson-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lessons .lesson-container .lesson-box .info{
    flex: 1;
    position: relative;
    padding: 0 20px;
}
.lessons .lesson-container .lesson-box .info a{
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    padding: 10px 20px;
    transition: .3s;
}
.lessons .lesson-container .lesson-box .info a:hover{
    color: #000;
    background: none;
}